.movies__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  width: 100%;
  gap:38px 20px;
  margin: 0 0 60px;
}

@media screen and (max-width:1270px) {
  .movies__card-list {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

@media screen and (max-width:768px) {
  .movies__card-list {
    gap:30px;
  }
}

@media screen and (max-width:450px) {
  .movies__card-list {
    margin: 0 0 50px;
    gap:34px;
  }
}
