.header__account-link_logo{
  height:26px;
  width: 26px;
  border-radius: 50%;
  background-color: rgba(15, 65, 87, 1);
  background-position: center;
  background-size: 11px;
  background-repeat: no-repeat;
  background-image: url('../../../../images/profile.svg');
  margin-left:7px;
}
