.footer {
  flex-shrink: 0;
  padding: 79px 70px 20px;
}

.footer__title{
  color: rgba(66, 66, 66, 1);
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding: 0 0 20px;
  margin: 0 0 20px;
  text-align: center;
}

.footer__menu{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  justify-content: space-between;
}

.footer__navigation {
  display: flex;
  gap:20px;
}


