.header__account-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width:320px) {
  .header__account-link{
    font-size: 10px;
  }
}
