.header__account-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 40px;
}

.header__account-link::after{
  content: '';
  margin: 0 0 0 7px;
  background-image: url('../../../images/profile.svg');
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, .15);
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

@media screen and (max-width:768px) {
  .header__account-link{
    display: none;
  }
}

@media screen and (max-width:320px) {
  .header__account-link{
    font-size: 10px;
  }
}
