.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 70px;
  min-height: 74px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
}

.header_type_main{
  background-color: rgba(7, 48, 66, 1);
}

.header_display_none{
  display: none;
}

@media screen and (max-width:768px) {
  .header{
    padding:0 30px;
  }
}

@media screen and (max-width:320px) {
  .header{
    padding:0 14px;
  }
}
